<footer class="footer footer-transparent">
    <div class="container-xl">
        <div class="text-center py-3">
            © @DateTime.Now.Year Cutover Manager — Powered by Tabler
        </div>
    </div>
</footer>