<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/">
            Cutover Manager
        </a>

        <div class="collapse navbar-collapse" id="sidebar-menu">

            <ul class="navbar-nav pt-lg-3">

                <li class="nav-item">
                    <a class="nav-link" href="/Home">
                        <span class="nav-link-icon">
                            <i class="ti ti-dashboard"></i>
                        </span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Plano">
                        <span class="nav-link-icon">
                            <i class="ti ti-calendar"></i>
                        </span>
                        <span>Planos</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Area">
                        <span class="nav-link-icon">
                            <i class="ti ti-building"></i>
                        </span>
                        <span>Áreas</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Executor">
                        <span class="nav-link-icon">
                            <i class="ti ti-user"></i>
                        </span>
                        <span>Executores</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Sistema">
                        <span class="nav-link-icon">
                            <i class="ti ti-server"></i>
                        </span>
                        <span>Sistemas</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Marco">
                        <span class="nav-link-icon">
                            <i class="ti ti-flag"></i>
                        </span>
                        <span>Marcos</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Atividade">
                        <span class="nav-link-icon">
                            <i class="ti ti-list"></i>
                        </span>
                        <span>Atividades</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Kanban">
                        <span class="nav-link-icon">
                            <i class="ti ti-columns"></i>
                        </span>
                        <span>Kanban</span>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</aside>