<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <a href="/" class="brand-link text-center">
        <span class="brand-text font-weight-light">Cutover Manager</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">

                <li class="nav-item">
                    <a href="/Home" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Plano" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>Planos</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Area" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>Áreas</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Executor" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Executores</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Sistema" class="nav-link">
                        <i class="nav-icon fas fa-server"></i>
                        <p>Sistemas</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Marco" class="nav-link">
                        <i class="nav-icon fas fa-flag"></i>
                        <p>Marcos</p>
                    </a>
                </li>

                @* <li class="nav-item">
                    <alass ="nav-item">
                        <a href="/Kanban" class="nav-link">
                        <i class="nav-icon fas fa-columns"></i>
                        <p>Kanban</p>
                    </a>
                </li> *@

            </ul>

        </nav>
        <!-- /.sidebar-menu -->

    </div>
    <!-- /.sidebar -->

</aside>