@model CutoverManager.Application.DTOs.ExecutorDTO
@{
    ViewData["Title"] = "Excluir Executor";
}

<div class="card shadow-sm">
    <div class="card-header bg-danger text-white">
        <h4><i class="fas fa-trash"></i> Excluir Executor</h4>
    </div>

    <div class="card-body">

        <p class="mb-3">
            Tem certeza que deseja excluir o executor:
            <strong>@Model.Nome</strong>?
        </p>

        <form method="post">

            <button class="btn btn-danger">
                <i class="fas fa-trash"></i> Excluir
            </button>

            <a href="/Executor">Cancelar</a>

        </form>

    </div>
</div>