@model CutoverManager.Application.DTOs.ExecutorDTO
@{
    ViewData["Title"] = "Excluir Executor";
}

<!-- BEGIN PAGE HEADER -->
<div class="page-header d-print-none" aria-label="Page header">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                @* <div class="page-pretitle"></div> *@
                <h2 class="page-title">@ViewData["Title"]</h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <a href="/Executor" class="btn btn-1">Voltar</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE HEADER -->

<!-- BEGIN PAGE BODY -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                    </div>
                    <div class="card-body">
                        <p class="mb-3">
                            Tem certeza que deseja excluir o executor:
                            <strong>@Model.Nome</strong>?
                        </p>

                        <form method="post">

                            <button class="btn btn-danger">
                                <i class="fas fa-trash"></i> Excluir
                            </button>

                            <span class="d-none d-sm-inline">
                                <a href="/Executor" class="btn btn-1">Cancelar</a>
                            </span>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BODY -->
